body::after {
	content: "";
	background-image: url("newCover.jpg");
	background-attachment: fixed;
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	/* opacity: 0.5; */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	/* max-height:1300px; */
	height:100%;
	/* height: 1300px; */
	z-index: -1;
	opacity: 0.25; 
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
div.homepage {
	min-height:1000px;
}
.homepage>.container {
	min-height:1000px;
}

.homepage .centered {
	transform:translate(50%, 0%);
}

.clearfix>.container {
	padding: 2% 0%;
	opacity:1;
	/* background-color: #ffffff; */
}

.collapsible {
	background-color: #ffffff;
	opacity: 1.0;
}

form {
	background-color: #ffffff;
	opacity: 1.0;
}
footer {
	/* margin-top: 10%; */
	position:relative;
	 /* position: absolute; */
  /* right: 0;
  bottom: 0;
  left: 0; */
}
.rbc-calendar {
	background-color: #ffffff;
	opacity: 0.95;
}

.btn, .btn-large{
	/* background-color: #ff0000; */
	background-color: #F9D285;
	color: #696969;
}

.bgimg {
	/* background-image: url("https://static.pexels.com/photos/139319/pexels-photo-139319.jpeg"); */
	/* background-image: url("/Images/coverimage.jpeg"); */
	height: 100%;
	background-repeat: no-repeat;
	/* background-position: center; */
	background-size: cover;
	position: relative;
	z-index: -1;
	opacity: 0.98;
}
