* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  position:relative;
  padding-bottom: 6rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('../public/Images/tutorbg5.png'); */
}


body,
html{
  min-height: 100%;
  font-size: 1.1rem;
}

.wrapper {
  min-height: 100%;
}

