

ul, .blue {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  word-break: break-all;
}

.page-divider{
  background-color: #FF0000;
  height: 7px;
}

.tutorbg{
	/* background-image: url("https://static.pexels.com/photos/139319/pexels-photo-139319.jpeg"); */
	background-image: url("/Images/tutorbg5.png");
	height: 100%;
	background-repeat: no-repeat;
	/* background-position: center; */
	background-size: cover;
	position: relative;
	z-index: -10000;
	opacity: 0.98;
	}
