.timepicker {
  width: 75% !important;
  top: 32px;
  word-break: break-all;
  white-space: normal;
  font-size: smaller !important;
}

button.btn.blue {
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
  width: 100%;
  color: white;
}
