/* .studentname{
    color: blue;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 7rem;
}

a{
    font-size: 2.5rem;
}

.iconpic{
    height: 150px;
    width: 150px;
}

.studentpic{
    margin-top: 6%;
    border-radius: 1.75%;
}

container {
    margin: 1.5%;
}

.fandf{
    padding-top: 0px;
}

h3 {
    font-size: 2rem;
}

h2{
    font-size: 2.6rem;
}

nav{
    margin-bottom: 3%;
} */
/* .iconpic{
    width: 200px;
    height: 200px;

  }
  
  
  .modal{
    padding: 0px 0px;
  }
  
  
  .carousel .carousel-item img{
    width: 200px;
    margin-left: 16%;
    margin-top: 2%;
  }
  
  .carousel.carousel-slider .carousel-item h2{
    font-size: 2.85rem;
    padding-top:32px;
    padding-left: 10px;
    margin-top: -2%;
  }
  
  .carousel.carousel-slider .carousel-item p{
    font-size: 15px;
    margin-left: 2%;
  }
  
  .birthdate{
    font-size: 5rem;
  }
  
  .headlineRow{
    margin-bottom: 5px;
  }
  
  .locationrow{
    margin-top: -35px;
  }
  
  .locationicon{
    margin-right: -10px;
  }
  
  .locationtext{
    padding-top: 13px;
  }
  
  .scroll{
    overflow: scroll;
  }
   */


.modal{
  padding: 0px 0px;
}

.carousel .carousel-item img{
  width: 200px;
  margin-left: 16%;
  margin-top: 2%;
}

.carousel.carousel-slider .carousel-item h2{
  font-size: 2.85rem;
  padding-top:32px;
  padding-left: 10px;
  margin-top: -2%;
}

.carousel.carousel-slider .carousel-item p{
  font-size: 15px;
  margin-left: 2%;
}

.birthdate{
  font-size: 5rem;
}

.headlineRow{
  margin-bottom: 5px;
}

.locationrow{
  margin-top: -35px;
}

.locationicon{
  margin-right: -10px;
}

.locationtext{
  padding-top: 13px;
}

.scroll{
  overflow: scroll;
}

#modal-btn{
  word-break: break-all;
}
